<div class="container">

  <div class="formContainer">
    <h1>Formulario de registro</h1>
    <form (ngSubmit)="saveForm()" #myForm="ngForm" >
      <div  >
        <label for="name">Username</label><br>
        <input required #inputName="ngModel" autofocus name="name" type="text" [(ngModel)]="formularioRegistro.name">
        <p *ngIf="!inputName.valid"> Username is required </p>
      </div>
      <div >
        <label for="email">Email</label><br>
        <input required type="email" name="email" [(ngModel)]="formularioRegistro.email">
        <p *ngIf="!formularioRegistro.email">Email is required</p>
      </div>
      <!-- <div>
        <label for="password">password</label><br>
        <input required type="password" name="password" [(ngModel)]="formularioRegistro.password">
        <p *ngIf="!formularioRegistro.password" >password is required</p>
      </div> -->
      <div class="buttonContainer">
        <button [disabled]="myForm.invalid"  type="submit">Registrar</button>
        <button type="button" (click)="clearForm()">Limpiar formulario</button>
      </div>
    </form>
    <img width="280px" [src]="imagen" alt="">
    <span>{{nombre }}</span>
  </div>
  <div class="tableContainer">
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!Data">
          <td>Sin registros...</td>
          <td>Sin registros...</td>
        </tr>
        <tr *ngFor="let item of Data">
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>



